.container {
  margin: 0 auto;
  max-width: 550px;
  overflow: hidden;
  padding: 30px 10px;

  @include respond-min($cols-3) {
    padding: 45px 10px;
  }
}

.container a {
  border-bottom: thin dotted #aaa;
  color: $color-bodytext;
  cursor: pointer;
  font-family: "Arvo Bold", sans-serif;
  font-weight: normal;
  text-decoration: none;
}

.item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0 0 10px;

  &.has-sublist .item-name {
    cursor: s-resize;

    @include respond-min($cols-3) {
      box-shadow: 0 3px 20px rgba(0,0,0,0.12);
    }
  }

  .item-name {
    color: #fff;
    background: #b7b7b7;
    display: block;
    font-family: "Arvo", sans-serif;
    @include font-size(16);
    font-weight: normal;
    margin: 0;
    padding: 10px 40px 10px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    transition: box-shadow 0.25s;

    strong {
      margin-right: 10px;
    }

    em {
      color: #b7b7b7;
      display: block;
      font-style: normal;
      text-shadow: none;

      @include respond-min($cols-3) {
        display: inline-block;
      }
    }

    .item-list--contacts & {
      background: #999;

      &:hover,
      &:focus {
        background: #888;
      }
    }

    @include respond-min($cols-4) {
      @include font-size(18);
    }
  }

  a.item-name {
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: #9f9f9f;
    }
  }

  .item-count {
    color: #fff;
    display: block;
    @include font-size(14);
    margin: 1em 0;
    min-width: 30px;
    opacity: 0.4;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    z-index: 10;
  }

  .item-contact,
  .item-contracts,
  .item-interviewed {
    @include font-size(12);
    border: none;
    float: left;
    font-family: 'Arvo', sans-serif;
    color: #b2b2b2;
    padding: 5px 15px 3px 0;
  }

  .item-contact {
    padding-left: 15px;
    &:hover,
    &:focus {
      color: #888;
    }
  }

  .item-contracts,
  .item-interviewed {
    float: right;
  }
}

.item-hidden-message {
  color: #aaa;
  @include font-size(12);
  text-align: center;
}

.contract-details {
  background: #f9f6c5;
  border: thin dotted #bbb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  padding: 15px 10px;

  legend {
    font-family: "Arvo Bold";
    margin: 0 0 20px;
  }

  @include respond-min($cols-3) {
    padding: 20px;
  }
}

a.add-contract {
  background: $color-primary-light1;
  border: thin dotted #bbb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 20px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background: $color-primary;
  }
}

a.delete-item {
  border: none;
  color: $color-secondary;
  font-family: "Arvo";
  line-height: 1.2;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

a.delete-co {
  color: #aa0000;
}

a.co-edit {
  border: none;

  &.co-edit--edit {
    //
  }

  &.co-edit--done {
    color: green;
  }

  &.co-edit--cancel {
    color: #aaa;
  }
}

.co-details__inner {
  .is-loading & {
    display: none;
  }

  .is-new & {
    display: block;
  }
}

.edit-bar {
  background: rgba(255,255,255,0.4);
  box-shadow: 0 0px 1px rgba(0,0,0,0.2);
  overflow: hidden;
  margin-left: -9px;
  margin-right: -9px;
  padding: 0px 9px;
  text-transform: uppercase;

  &.edit-bar--top {
    margin-bottom: 30px;
  }

  &.edit-bar--bottom {
    margin-top: 30px;
  }
}

.add-co {
  font-size: 0;

  .add {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
    color: $color-secondary;
    display: inline-block;
    @include font-size(17);
    font-family: 'Arvo', sans-serif;
    line-height: 1.4;
    margin: 0 0 15px;
    padding: 26px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s;
    width: 100%;

    .icon {
      color: #aaa;
      display: block;
      @include font-size(25);
      opacity: 0.8;
    }

    &:hover,
    &:focus {
      background: $color-primary-light2;
    }

    @include respond-min($cols-3) {
      line-height: 1.7;
      padding: 32px 40px;
      margin: 0 2% 15px;
      width: 46%;
    }
  }
}
