
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field-output,
.field-edit,
.field-new {
  border: thin solid transparent;
  box-sizing: border-box;
  @include font-size(14);
  line-height: 1.5;
  margin: 0;
  padding: 10px 15px;
}

.field-output {
  padding-left: 0;
}

input.field--hidden {
  color: #fff;

  &:hover,
  &:focus {
    color: #ddd;
  }
}

.field-output.field--hidden {
  opacity: 0;
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.company-row {
  border-bottom: thin dotted #bbb;
  clear: both;
  padding: 0 0 3px;
  position: relative;
  margin: 0 0 3px;

  &.company-row--last {
    border-bottom: none;
  }

  .is-editing & {
    border-bottom: thin solid transparent;
  }

  @include respond-min($cols-3) {
    padding: 0 0 7px;
    margin: 0 0 7px;
  }
}

.company-row--textarea .field-output,
.company-row--textarea .field-edit,
.company-row--textarea .field-new {
  min-height: 120px;
}

.field-edit,
.field-new {
  background: #fff;
  border: thin solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  width: 100%;
}

.field-edit,
.editor-only {
  display: none;
}

.company-new {
  .field-new {
    display: block;
  }

  .field-output {
    display: none;
  }
}

.is-editing {
  .field-output {
    display: none;
  }

  .field-edit,
  .editor-only {
    display: block;
  }
}

.field-label {
  color: rgba(0,0,0,0.3);
  clear: both;
  font-weight: normal;
  @include font-size(11);
  margin: 15px 0 7px;
}



input.search {
  box-sizing: border-box;
  border: thin solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  @include font-size(17);
  margin: 0 0 30px;
  padding: 12px 16px;
  width: 100%;

  @include respond-min($cols-3) {
    @include font-size(20);
    margin: 0 0 60px;
  }
}