header {
  background: $color-primary;
  text-align: center;
}

nav {
  background: $color-primary-light1;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 0;

  .is-nav-fixed & {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.nav-inner {
  max-width: 400px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  max-width: 550px;
  padding: 0 20px;

  li {
    .no-flexbox & {
      display: inline-block;
    }
  }

  a {
    color: $color-secondary-light;
    display: block;
    padding: 15px 0 13px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus,
    .page-companies &.item-companies,
    .page-contacts &.item-contacts,
    .page-add &.item-add {
      color: $color-secondary;
    }
  }

  @include respond-min($cols-3) {
    padding: 0;
  }
}

.logo {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  width: 100%;

  h1 {
    background: url(../images/logo.png) no-repeat center center;
    background-size: 70% auto;
    display: block;
    height: 120px;
    margin: 0 auto;
    max-width: 550px;
    width: 80%;

    @include respond-min($cols-3) {
      background-size: 60% auto;
      height: 150px;
    }

    @include respond-min($cols-4) {
      background-size: 80% auto;
      height: 180px;
    }

    @include respond-min($cols-5) {
      background-size: 100% auto;
      height: 220px;
    }
  }

  span {
    height: 0;
    position: absolute;
    left: -100px;
    overflow: hidden;
    top: -100px;
    width: 0;
  }
}