.f-left {
    float: left;
}

.f-right {
    float: right;
}

.desktop-only {
    @include respond-max($cols-3) {
        display: none;
    }
}

.mobile-only {
    @include respond-min($cols-3) {
        display: none;
    }
}

.is-loading {
  background: url(../images/loading.gif) no-repeat center center;
  padding: 0 0 30px !important;

  &.is-new {
    background: none;
  }
}

.is-disabled {
  opacity: 0.3 !important;
}

.pulse {
  animation-duration: 0.5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0 {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}