body {
  background: #eee;
  color: #333;
  font-family: "Arvo", sans-serif;

  &.is-modal {
    overflow: hidden;
  }
}

input, select, textarea {
  font-family: "Arvo", sans-serif;
}

a {
  transition: color 0.13s;
}

.hr {
    border-top: thin dotted #aaa;
    clear: both;
    margin: 15px 0;

    hr {
        display: none;
    }
}

::-webkit-input-placeholder {
    color:    #ccc;
    text-transform: uppercase;
}
:-moz-placeholder {
   color:    #ccc;
   opacity:  1;
   text-transform: uppercase;
}
::-moz-placeholder {
   color:    #ccc;
   opacity:  1;
   text-transform: uppercase;
}
:-ms-input-placeholder {
   color:    #ccc;
   text-transform: uppercase;
}