/*
 *  CUSTOM MIXINS
 *  Includes custom Mixins to be used throughout the project.
 */

 // Allows a value to be input and the Pixel and REM value to be output
 // e.g. 1.3 = 13px = 1.3rem
 @mixin font-size($sizeValue: 16) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 16) + rem;
}

/*
    Mixins: commonly-used functions.
 */

 // USAGE: @include respond-min($mobile-480) {...}
 @mixin respond-min($width) {
     // If we're outputting for a fixed media query set...
     @media screen and (min-width: ($width) / 16 + em) {
         @content;
     }
 }

 // USAGE: @include respond-max($desktop-960) {...}
 @mixin respond-max($width) {
     @media screen and (max-width: ($width - 1) / 16 + em) {
         @content;
     }
 }


 // USAGE: @include respond-range($tablet-568, $desktop-960) {...}
 @mixin respond-range($from, $to) {
    @media only screen and (min-width: ($from) / 16 + em) and (max-width: ($to - 1) / 16 + em) { @content; }
 }
