<div class="co-details" ng-class="{'is-editing': isEditing, 'is-loading': isDbLoading(), 'is-new': mode === 'new'}">
    <div class="co-details__inner">
        <edit-bar data-pos="top"></edit-bar>

        <form novalidate name="coForm">
            <div class="field">
                <p class="field__label">Name *</p>
                <p class="field__output">{{company.name | useDashIfEmpty}}</p>
                <input type="text" ng-model="company.name" class="field__value field__edit" id="name" name="name" required auto-focus>
                <p ng-show="coForm.name.$error.required && (coForm.name.$dirty || coForm.$dirty)" class="field__message field__message--error">A name is required.</p>
            </div>

            <div class="field">
                <p class="field__label">Website</p>
                <p class="field__output" ng-hide="company.url">{{company.url | useDashIfEmpty}}</p>
                <p class="field__output field__output__link" ng-show="company.url" target="_blank"><a href="{{company.url}}" target="_blank">{{company.url | hideProtocol}}</a></p>

                <input type="url" ng-model="company.url" class="field__value field__edit" id="url" name="url">
            </div>

            <div class="field">
                <p class="field__label">Address</p>
                <p class="field__output">{{company.address | useDashIfEmpty}}</p>
                <input type="text" ng-model="company.address" class="field__value field__edit" id="address" name="address">
            </div>

            <div class="field">
                <p class="field__label">Phone number</p>
                <p class="field__output">{{company.phone | useDashIfEmpty}}</p>
                <input type="tel" ng-model="company.phone" class="field__value field__edit" id="phone" name="phone">
            </div>

            <div class="field">
                <p class="field__label">Contact</p>
                <p class="field__output"><a href="#" ng-href="#/contacts/{{company.contactId}}">{{getContact(company.contactId).name | useDashIfEmpty}} <em ng-show="getContact(company.contactId).email">({{getContact(company.contactId).email}})</em></a></p>

                <input type="hidden" name="contactId" id="contactId" ng-model="company.contactId">
                <input type="hidden" name="contactName" id="contactName" ng-model="company.contactName">

                <a class="field__value field__edit field__select" ng-href="" ng-click="showContactList = !showContactList" ng-class="{'is-active': showContactList}">
                    <span>{{getContact(company.contactId).name | fallbackText:'Select contact...'}}</span>
                    <span class="icon icon-arrow-up" ng-show="showContactList"></span>
                    <span class="icon icon-arrow-down" ng-hide="showContactList"></span>
                </a>

                <div class="contact-list-wrapper" ng-show="showContactList">
                    <ul id="contact" name="contact" class="contact-list">
                        <li class="contact-list__item" ng-repeat="contact in contacts track by $index"><a ng-href="" ng-click="selectContact(contact.id)">
                            <span>{{contact.name}}</span>
                            <em>({{contact.email | fallbackText:'No email specified'}})</em></a>
                        </li>
                    </ul>

                    <p class="contact-list__item contact-list__item--add"><a ng-click="showModal('contactModal')">Add new...</a><p>
                </div>
            </div>

            <div class="field field__checkbox field__no-label" ng-show="isEditing">
                <p class="field__output">Interviewed? <strong><span ng-show="company.interviewed">Yes</span><span ng-hide="company.interviewed">No</span></strong></p>
                <label for="interviewed" class="field__checkbox__label field__edit">
                    <input type="checkbox" ng-model="company.interviewed" id="interviewed" name="interviewed">
                    <span>Interviewed?</span>
                </label>
            </div>

            <div class="field" ng-show="!isEditing || (isEditing && company.interviewed)">
                <p class="field__label">Interview date</p>
                <p class="field__output">{{company.interviewDate | prettyDate | useDashIfEmpty}}</p>
                <input type="date" ng-model="company.interviewDate" class="field__value field__edit field__date" id="interviewDate" name="interviewDate" ng-required='company.interviewed'>
                <p ng-show="coForm.interviewDate.$error.required && (coForm.interviewDate.$dirty || coForm.$dirty)" class="field__message field__message--error">Please enter the date the interview occurred</p>
            </div>

            <div class="field field__textarea">
                <p class="field__label">Notes</p>
                <p class="field__output">{{company.notes | useDashIfEmpty}}</p>
                <textarea ng-model="company.notes" class="field__value field__edit" id="notes" name="notes"></textarea>
            </div>

            <div class="field field__contracts field__no-label" ng-show="isEditing || company.contracts.length">
                <div ng-repeat="contract in company.contracts" class="contract-details" ng-include="'partials/contract-form.html'" ng-init="unique=$index"></div>
                <a href="javascript:;" ng-click="addContract()" ng-show="isEditing" class="add-contract"><span class="icon-add"></span> Add contract</a>
            </div>
        </form>

        <edit-bar data-pos="bottom"></edit-bar>
    </div>
</div>

<db-controls></db-controls>

<modal-dialog ng-init="modalId='contactModal'">
    <div class="modal-view" ng-include="'partials/contact-form.html'" ng-controller="ContactAddCtrl" ng-init="inModal=true"></div>
</modal-dialog>

