<input type="text" ng-model="filterText" placeholder="Search by contact..." class="search">

<ul class="item-list item-list--contacts" ng-class="{'is-loading': isLoading}">
    <li ng-repeat="contact in contacts | filter:filterText | orderBy:'contact'" class="item" ng-class="{'is-open': hover, 'has-sublist': companiesByContact[contact].length > 2}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <h3 class="item-name">{{contact}} ({{companiesByContact[contact].length}})</h3>

        <ul class="item-sublist" ng-show="companiesByContact[contact]">
            <li ng-repeat="company in companiesByContact[contact]" style="z-index:{{200 - $index}}"><a href="#/company/{{company.id}}">{{company.name}}</a></li>
        </ul>
    </li>
</ul>

<p class="item-hidden-message" ng-show="!companies.length && !isLoading">No companies yet! Click 'add' above to start adding companies.</p>
<p class="item-hidden-message" ng-show="hasContactsWithoutContact">{{companiesNotDisplayed}} compan{{companiesSuffix}} {{companiesDescriptor}} not displayed, as they do not have a contact.</p>

<db-controls></db-controls>