$cols-1:        160;
$cols-2:        320;
$cols-3:        480;
$cols-4:        640;
$cols-5:        800;
$cols-6:        960;
$cols-7:        1120;
$cols-8:        1280;

$color-primary:         #e2da5c;
$color-primary-light1:  #ece8a6;
$color-primary-light2:  #fcf8c6;
$color-primary-light3:  #fdfce6;
$color-secondary:       #888;
$color-secondary-light: #a7a47b;
$color-bodytext:        #555;